<div class="container-sm text-white border rounded-5 p-5 me-2 ms-2 shadow-lg">
<h1 class="text-center">Converted Currency</h1>
<div class="fs-3 fw-bold text-center">{{{data}}}</div>
<a class="pt-5" href="/">Back to Home Page</a>
</div>

 



